<h2>How do your appliances impact Climate Change?</h2>
<div class='about-content'></div>
<div style="margin-left: 9em;margin-right: 9em;font-size: larger;text-align: justify;">
    <p>Green Karma is a POC developed as part of the 2020 IBM Call for code. It provides appliance ratings based on their environmental impact.
        Users can search for applicances and find their Karma score. Future implementations in the project include allowing the user to create
        a profile and add the products they own to build a karma score.
    </p>

</div>
<div class="polaroid">
    <img src="../../assets/images/teamphoto.png" style="width: 600px;margin-top: 3em;height: 600px;">
    <p>We are Morgan Stanley!!</p>
</div>

