.content {
    text-align: center;
    margin-top: 30px;
}

mat-button-toggle {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 80px;
    padding-right: 80px;
    font-size: 18px;
    width: 220px;
    font-style: bold;
    //order: 1px solid #c0bbb7;
    border-radius: 2px;
    background-color: #e8e8e9; 
  }

  .mat-button-toggle-checked {
    background-color: #a1a1a1;
  }

  mat-card { 
    width:50%; 
    display: inline-flex;
    margin: 30px;
    border-radius: 4px;;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  }

mat-card-content {
    text-align: left;
    margin-left: 3em;
    font-family: monospace;
    font-size: medium;
    display: flex;
    
}

.grid {
    margin-top: 30px;
    width: auto;
    //text-align: end;
    margin-left: 100px;
}

.details {
  font-weight: 600; 
  font-size: xx-large;
  color: #6b6b6b;
  text-transform: uppercase;
}
p {
  margin: 0
}

.rating {
  //padding-left: 10em ;
  font-size: large;
  font-family: inherit;
  text-transform: uppercase;
}

ul.a {
  list-style-type: square;
  padding-left: 1.5em;;
}

ul.b {
  list-style-type: none;
  display: flex;
  color: #fd8c00;
  padding: 0;
  margin:0;
}

mat-icon {
  width: 1em;
  font-size: 1.5em;
  
}
.ratingStar {

}