.content {
    text-align: center;
    margin-top: 30px;
}

mat-button-toggle {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 80px;
    padding-right: 80px;
    font-size: 18px;
    width: 220px;
    font-style: bold;
    //order: 1px solid #c0bbb7;
    border-radius: 2px;
    background-color: #e8e8e9; 
  }

  .mat-button-toggle-checked {
    background-color: #a1a1a1;
  }

  mat-card { 
    width:70%; 
    display: inline-flex;
    margin: 30px;
    border-radius: 4px;;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  }

mat-card-content {
    margin-top: 30px;
    text-align: left;
    margin-left: 140px;
    font-family: monospace;
    font-size: medium;
    
}

.grid {
    margin-top: 30px;
    width: auto;
    //text-align: end;
    margin-left: 100px;
}