:host ::ng-deep .form-group {
    margin: 30px;
    font-size: 20px;
    margin-left:-460px;
    //max-width: 100px;
    height:10px;
    display: inline-block;
    margin-bottom: 3em;
}
input {
    //border-radius: 1px;
    //border-color: rgb(199, 199, 199);
    //width: 40%;
    outline: none;
}

.label {
    padding: 10px;
    display: inline-block;
    width: 140px;
    text-align: right;
}

.searchButton {
    display: inline-block;
    width: 240px  !important;
    text-align: center;
    margin-top: 3em;
    margin-right:21em;
}

.footer {
    display: inline-block;
    margin-left:-460px;
    text-align:left;
}

.form {
    width: 100%;
    display: inline-grid;
    margin-left:17em;
    margin-right: 25em;
}

mat-form-field {
    margin-left: 27em;
    margin-right: 30em;
    max-width: 35em;
    display: inline-block;
    width:100%;

}

input {
    width: auto
}

::ng-deep .mat-form-field-flex {
    background-color: #fbfbfb;
}