<div class="container">
    <form [formGroup]="searchForm">
        <div class="form-group row">
            <label class="label">Appliance Type</label>
            <input formControlName="ApplianceType" type="text"/>
        </div>
    </form>
    <form [formGroup]="searchForm">
        <div class="form-group row">
            <label class="label">Model</label>
            <input formControlName="Model" type="text"/>
        </div>
    </form>
    <form [formGroup]="searchForm">
        <div class="form-group row">
            <label class="label">Brand</label>
            <input formControlName="Brand" type="text"/>
        </div>
    </form>
    <form [formGroup]="searchForm">
        <div class="form-group row">
            <label class="label">Category</label>
            <input formControlName="Category" type="text"/>
        </div>
    </form>
    
    <div class="form-group row">
        <button mat-raised-button (click)="search()">Search</button>
    </div>
</div>
