<div>
    <form [formGroup]="searchForm" class="form">
        <div class="form-group row">
            <mat-form-field>
                <mat-label>Appliance Type</mat-label>
                <input matInput formControlName="ApplianceType" type="text"/>
            </mat-form-field>
        </div>
        <div class="form-group row">
            <mat-form-field>
                <mat-label>Model</mat-label>
                <input matInput formControlName="Model" type="text"/>
            </mat-form-field>
        </div>
        <div class="form-group row">
            <mat-form-field>
                <mat-label>Brand</mat-label>
                <input matInput formControlName="Brand" type="text"/>
            </mat-form-field>
        </div>
        <div class="form-group row">
            <mat-form-field>
                <mat-label>Category</mat-label>
                <input matInput formControlName="Category" type="text"/>
            </mat-form-field>
        </div>
    </form>
    <div class="searchButton">
        <button style="width: 30em; padding:0.5em;background-color: #32c734;font-size:larger; border-radius: 2em;" mat-raised-button (click)="search()">Click To Search</button>
    </div>
</div>
