<div class='content'>
    <mat-button-toggle-group name='searchType'>
        <mat-button-toggle value='search' (click)="openSearchBar()">Search by Product</mat-button-toggle>
        <mat-button-toggle value='barcode' (click)="openScanBarcode()">Scan barcode</mat-button-toggle>
    </mat-button-toggle-group>

    <button mat-fab color="primary" (click)="scanBarCode = !scanBarCode">
        <mat-icon>camera_enhance</mat-icon>
    </button>

    <div *ngIf="searchBar">
        <app-search-bar></app-search-bar>
    </div>

    <div *ngIf="scanBarCode" >
        <app-barcode-scanner></app-barcode-scanner>
    </div>
</div>