<div class="center">
        <div>
            <h2>Find a place to recycle your appliance</h2>
            <div class="form-group">
                <input type="text" class="form-control" id="place" #search [formControl]="searchControl"
                    autocomplete="off" autocapitalize="off" spellcheck="off" style="width: 15em;height: 1.5em;margin-bottom: 1em;">
            </div>
        </div>
        <div>
            <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom" style="height:600px; width: 1560px;">
                <agm-marker *ngFor="let latlong of latlongs" [latitude]="latlong.latitude" [longitude]= "latlong.longitude"></agm-marker>
            </agm-map>
    </div>
</div>
